        body 
        {
          width: 80%;
          margin: 30px auto;
          font-family: sans-serif;
          background-image: url("../images/def.JPG");
          background-size: cover;    
        }
        .container
        {
          color: white;
        }
